.blog-page {
  .__cover-image {
    display: block;
    width: 100%;
    height: 300px;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
  }

  .__title {
    font-size: var(--font-size-5xl);
    font-weight: 700;
    color: var(--colors-text);
  }

  .__details {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: space-between;

    .__author {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      font-weight: 500;
    }

    .__date {
      font-size: var(--font-size-sm);
      font-weight: 500;
      color: var(--colors-text-light);
    }
  }
}
