.blog__grid {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 13;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	gap: 1.5rem;
	padding-block: 1.5rem;

	& > header {
		grid-column-start: 1;
		grid-column-end: -1;
		text-align: center;
		font-family: var(--font-BricolageGrotesque);
		font-size: var(--font-size-5xl);
		font-weight: 600;
		color: var(--colors-foreground);
	}

	& > .blog__tile {
		view-transition-name: var(--view-transition-name);
		position: relative;
		border-radius: 1rem;
		overflow: clip;
		cursor: pointer;

		&:hover > .blog__cover-image {
			transform: scale(120%);
		}

		& > .blog__cover-image {
			view-transition-name: var(--view-transition-name);
			width: 100%;
			aspect-ratio: 1 / 1;
			object-fit: cover;
			transition-duration: var(--animation-duration);
			transition-timing-function: var(--animation-timing-function);
		}

		.blog__overlay {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-image: linear-gradient(
				to bottom,
				color-mix(in srgb, black 20%, transparent 10%),
				black
			);

			& > .blog__category {
				span {
					padding-inline: 4px;
					border-radius: 8px;
					font-size: var(offset-size-xs);
					font-weight: 500;
					background-color: var(--colors-foreground);
					color: var(--colors-background);
					box-shadow: var(--shadow-sm);
					text-transform: uppercase;
				}
			}

			& > .blog__content {
				display: flex;
				flex-direction: column;
				row-gap: 0.5rem;

				& > .blog__title {
					font-size: var(--font-size-lg);
					font-family: var(--font-BricolageGrotesque);
					font-weight: 700;
					line-clamp: 2;
					-webkit-line-clamp: 2;
					display: -webkit-box;
					color: var(--colors-primary);
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				& > .blog__details {
					display: flex;
					align-items: center;
					column-gap: 0.5rem;
					justify-content: space-between;

					& > .blog__author {
						display: flex;
						align-items: center;
						column-gap: 0.5rem;
						color: var(--colors-primary);
						font-weight: 500;
						font: var(--font-NotoSans);

						& > img {
							width: 1.5rem;
							aspect-ratio: 1 / 1;
							border-radius: 100%;
							object-fit: cover;
						}
					}

					& > .date {
						font-weight: 500;
					}
				}
			}
		}
	}
}

.blog__page {
	.blog__cover-image {
		view-transition-name: var(--view-transition-name);
		display: block;
		width: 100%;
		height: 300px;
		/* aspect-ratio: 16 / 9; */
		object-fit: cover;
		/*transition-duration: var(--animation-duration);*/
		/*transition-timing-function: var(--animation-timing-function);*/
	}

	.author {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		font-weight: 500;
	}

	.date {
		font-size: var(--font-size-sm);
		font-weight: 500;
		color: var(--colors-text-light);
	}

	.blog__container {
		display: grid;
		grid-column-start: 1;
		grid-column-end: 13;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 2rem;
		padding-block: 1rem;

		& > .blog__title {
			font-size: var(--font-size-5xl);
			line-height: 1em;
			font-weight: 700;
			font-family: var(--font-BricolageGrotesque);
			color: var(--colors-text);
			grid-column-start: 4;
			grid-column-end: 10;
			margin-bottom: 1rem;
		}

		& > .blog__content {
			grid-column-start: 4;
			grid-column-end: 10;

			& a {
				text-decoration: underline;
			}
		}
	}
}
