@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./blog.css");

:root {
	color-scheme: light dark;

	--colors-secondary: #0a0908;
	--colors-primary: #eae0d5;
	--colors-accent: #c6ac8f;

	--colors-background: light-dark(
		var(--colors-secondary),
		var(--colors-primary)
	);
	--colors-foreground: light-dark(
		var(--colors-primary),
		var(--colors-secondary)
	);

	--font-NotoSans: "Noto Sans", sans-serif;
	--font-BricolageGrotesque: "Bricolage Grotesque", sans-serif;

	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-md:
		0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

	--animation-duration: 300ms;
	--animation-timing-function: ease-in-out;

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.875rem;
	--font-size-4xl: 2.25rem;
	--font-size-5xl: 3rem;
}

@view-transition {
	navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 2000ms;
}

body {
	background-color: var(--colors-background);
	color: var(--colors-foreground);
	font-family: var(--font-NotoSans);
}

.section {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 960px) 1fr;
}

.section__central {
	grid-column-start: 2;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
